- userParams.name = userParams.name || {};

mixin alertlistfull()

form(action='/register', method='POST')
  div(data-role='fieldcontain')
    label(for='register-username')= __('User Name')
    input#register-username(name=everyauth.password.loginFormFieldName, value=userParams[everyauth.password.loginFormFieldName])
  div(data-role='fieldcontain')
    label(for='register-password')= __('Password')
    input#register-password(type='password', name=everyauth.password.passwordFormFieldName)
  div(data-role='fieldcontain')
    label(for='register-name-first')= __('First Name')
    input#register-name-first(name='name.first', value=userParams['name']['first'])
  div(data-role='fieldcontain')
    label(for='register-name-last')= __('Last Name')
    input#register-name-last(name='name.last', value=userParams['name']['last'])
  div(data-role='fieldcontain')
    label(for='register-email')= __('Email')
    input#register-email(type='email', name='email', value=userParams['email'])
  button.ui-btn-hidden(type='submit', data-theme='b')= __('Register')