extends layout

block content
  h2= __i('User %s', user.login)
  
  #profile-form.well
    form(action=url('user.edit'), method='POST')
      .control-group#profile-firstname
        label(for='firstname')= __i('First Name')
        input(name='name[first]', value=user.name.first, id='firstname')
      .control-group#profile-lastname
        label(for='lastname')= __i('Last Name')
        input(name='name[last]', value=user.name.last, id='lastname')
      .control-group#profile-email
        label(for='email')= __i('Email')
        input(name='email', value=user.email, id='email')
      .control-group#profile-username
        label(for='username')= __i('User Name')
        input(name='username', value=user.login, id='username')
      .control-group#profile-password
        label(for='password')= __i('Password')
        input(type='password', name='password', id='password')
      .control-group#profile-newpassword
        label(for='newpassword')= __i('New Password')
        input(type='password', name='newpassword', id='newpassword')
      .control-group#profile-password2
        label(for='newpassword2')= __i('Confirm Password')
        input(type='password', name='newpassword2', id='newpassword2')
      .control-group#submit
        input.btn.btn-primary(type='submit')= __i('Save')

  #connected-accounts
    - if (user.fb && user.fb.id)
      #fb-data
        h3= __i('Facebook User Data')
        p
          = __i('Name') + ': ' + user.fb.name.full
        p
          = __i('User Name') + ': ' 
          a(href='#{user.fb.link}') #{user.fb.username}
    - if (user.twit && user.twit.id)
      #tw-data
        h3= __i('Twitter User Data')
        img(src=user.twit.profileImageUrl, title='@#{user.twit.screenName}', alt=__i('%s profile picture', '@' + user.twit.screenName))
        p
          = __i('Name') + ': ' + user.twit.name
        p
          = __i('User Name') + ': ' 
          a(href='http://twitter.com/#{user.twit.screenName}') #{user.twit.screenName}
        p Location: #{user.twit.location}
        p #{user.twit.description}